
@{
    ViewBag.Title = "CLogin";
}

<style>
    .form-submit-button {
        background: #0066A2;
        color: white;
        border-style: outset;
        border-color: #0066A2;
        height: 50px;
        width: 350px;
        font: bold15px arial,sans-serif;
        text-shadow: none;
    }

        .form-submit-button:hover {
            background: #016ABC;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }
</style>

<table align="center">
    <tr>
        <td>

            <b> Your Project Is </b>
        </td>
        <td>
            <div style="font-size:40px;"> @ViewBag.value</div>

        </td>
    </tr>
    <tr>
        <td>
            <b>Your Course is </b>
        <td>@ViewBag.course</td>


    </tr>
    <tr>
        <td>
            <form name="pd" id="s1" action="CBack" method="post">
                <input type="submit" value="Back" />
            </form>
        </td>
    </tr>

</table>

